<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h4>Welcome <i>{{user.username}} </i>!!!</h4>
    </div>
    <div class="col-xs-8">
      <a [routerLink]="['employee/', 'edit']" class="btn text-right" style="float: right"><u>Add Employee</u></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" style="margin-top: 80px">
        <thead>
        <tr>
          <th><b>Name</b></th>
          <th><b>Username</b></th>
          <th><b>Date Of Joining</b></th>
          <th><b>In Hand Pay</b></th>
        </tr>
        </thead>
        <tr *ngFor="let emp of employees">
          <td> <a [routerLink]="['/employees/', emp._id]">{{emp.firstName + ' ' + emp.lastName}}</a> </td>
          <td>{{emp.username}}</td>
          <td>{{emp.dateOfJoining}}</td>
          <td>{{emp.inHandPay}}</td>
        </tr>
      </table>

    </div>
  </div>
</div>

<app-footer></app-footer>

